<div x-data>

  <div
    :title="css.getNodeStatusText(is_lnd_node_online)"
    :class="css.getNodeStatusColor(is_lnd_node_online)"
    class="rounded-full ring-2 ring-black w-16 h-16">
  </div>

  <button phx-click="connect">Connect</button>

</div>
