<section>
  <div class="home-live-channel-count">
    <span class="home-live-channel-number">
      <%= Enum.count(@channels) %>
    </span> 
    channels
  </div>

  <%= live_component SteerWeb.ChannelLive.ChannelListComponent,
    channels: @channels,
    id: "channel_list",
    live_action: @live_action,
    channel: @channel %>
</section>
