<section class="phx-hero">
  <div class="text-2xl mb-4">Number of channels: <%= Enum.count(@channels) %></div>

  <%= for channel <- @channels do %>
    <div class="px-3 my-1 w-auto rounded-xl flex justify-between bg-green-300">
      <div class="w-auto text-right"><%= channel.formatted_local_balance %></div>
      <div class="w-auto" text-left px-2"><%= channel.alias %></div>
      <div class="w-auto text-right"><%= channel.formatted_remote_balance %></div>
    </div>
  <% end %>
</section>
