<section>
  <div class="text-2xl mb-4"><%= Enum.count(@channels) %> channels</div>

  <%= live_component @socket,
    SteerWeb.ChannelLive.ListComponent,
    channels: @channels,
    id: "list_of_forwards" %>
</section>
