@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Special+Elite&family=Maven+Pro:wght@500&family=Work+Sans:wght@200&display=swap');

[x-cloak] {
  display: none;
}

@import './my.css';

@import './layout/hamburger.css';
@import './layout/header.css';
@import './layout/reset.css';
@import './layout/sidebar.css';
@import './layout/styles.css';

@import '../../lib/steer_web/live/components/node_status_indicator.css';
@import '../../lib/steer_web/live/components/liquidity_meeter.css';
@import '../../lib/steer_web/live/components/short_pub_key.css';
@import '../../lib/steer_web/live/components/external_links.css';

@import './live/home_live.css';
@import '../../lib/steer_web/live/channel_live/show.css';
@import '../../lib/steer_web/live/diagnostics_live.css';
@import '../../lib/steer_web/live/attempts_live.css';
@import '../../lib/steer_web/live/link_fails_live.css';

.accent1 {
  color: var(--accent1-color);
}

.text-xs {
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
}

.text-sm {
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}