#header {
  width: 100vw;
  color: var(--header-color);
  background-color: var(--header-backgroundcolor);

  box-shadow: 0 0 0.3em #111;
}

.header_layout {
  display: grid;

  grid-template-columns: 3em 1fr 3em;
  grid-template-areas: "left center right";
}

.header_left {
  display: none;

  padding: 0.25rem;
  margin-top: 0.25rem;

  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .header_left {
    display: block;
    grid-area: left;
    justify-self: left;
  }
}

#branding {
  margin-left: 0.5em;
  margin-top: 0.1em;

  grid-area: left;
  justify-self: left;

  font-family: Krona One;
  font-size: xx-large;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  #branding {
    margin-left: -0.5em;
    margin-top: 0.2em;

    grid-area: center;
    justify-self: center;

    font-size: x-large;

    overflow: hidden;
  }
}

.brandingLink {
  display: flex;
}

#brandingText {
  padding-top: 0.1em;
  padding-bottom: 0.2em;
}

@media (max-width: 768px) {
  #brandingText {
    margin-top: 0.25em;
  }
}

.header_right {
  height: 100%;
  display: flex;
  grid-area: right;
  justify-self: right;
}

#logo {
  margin-right: 0.5em;
  margin-top: 0.1em;
}

@media (max-width: 768px) {
  #logo {
    margin-right: 0.6em;
  }
}

#avatar {
  align-self: center;
  margin-right: 0.5em;
  border-radius: 25px;
}

.header-node-status-button {
  align-self: center;
}

.header-node-status {
  width: 1rem;
  height: 1rem;

  margin-right: 0.5em;

  align-self: center;

  border-radius: 25px;

  background-color: #fff;

  box-shadow: 0 0 0 2px #000;
}

.header-node-online {
  background-color: var(--active);
}

.header-node.offline {
  background-color: var(--inactive);
}