@import './components/node_status_indicator.css';
@import './components/liquidity_meeter.css';

@import './channel_live/channel_list_component.css';
@import './channel_live/channel_item_component.css';

.home-live-channel-count {
  margin-bottom: 1rem/* 16px */;

  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
}

.home-live-channel-number {
  color: var(--accent1-color);
}
